TELEGRAM_BOT_TOKEN=your_bot_token
HTTP_URL=https://<school>.instructure.com/api
COURSEMATE_ENCRYPTION_SECRET=your_secret_key
DATABASE_URL=sqlite:///coursemate.sqlite3   # optional
ENVIRONMENT=Development                     # optional